<div class="container">
	<div class="col-md-12">
		<form action="/setup" method="POST">
			<input type="text" name="testno" placeholder="Test Number">
			<input type="text" name="runner" placeholder="Who is running the test?">
			<label><input type="radio" name="type" value="Explicit">Explicit</label>
			<label><input type="radio" name="type" value="Implicit">Implicit</label>
			<input type="submit" value="Go!">
		</form>
	</div>
</div>